*,
::before,
::after {
	margin: 0;
	padding: 0;
	user-select: none;
}

html,
body {
	overflow: hidden;
}

.board_container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1a2731;
	.board {
		width: 700px;
		height: 500px;
		margin-top: 100px;
		border: 1px solid #1a2731;
		display: flex;
		border-radius: 5px;
		background-color: #1a2731;
		box-shadow: -5px -5px 20px #2d404e, 5px 5px 20px #0c1318;
		position: relative;
		overflow: hidden;
		.main_object {
			background-color: #f4dc57;
			box-shadow: 0 0 7px 4px #fdef9f;
			position: absolute;
			border-radius: 50%;
			animation-name: shiningSoul;
			animation-duration: 1s;
			animation-iteration-count: infinite;
			animation-direction: alternate;
			animation-delay: linear;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 999;
			.shadow {
				--shadowPercent: 0%;
				width: 200vw;
				height: 200vw;
				background-image: radial-gradient(rgba(255, 255, 255, 0.05), #131d25 var(--shadowPercent));
				position: absolute;
				animation-name: shadowAnim;
				animation-duration: 10s;
				animation-iteration-count: infinite;
				animation-direction: alternate;
			}
		}
		.wall {
			background-color: #131d25;
			position: absolute;
		}
		.wall_img {
			width: 100%;
			height: 100%;
			background-image: url('../../public/images/wall.jpg');
			background-repeat: repeat;
			background-size: contain;
			opacity: 0.2;
		}
		.score {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.7rem;
			color: #28c037;
			filter: drop-shadow(0 0 5px #51e35f);
			position: absolute;
			animation-name: animScore;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-direction: alternate;
		}
		.life {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.5rem;
			color: #cc2a2a;
			filter: drop-shadow(0 0 5px #e74b4b);
			position: absolute;
			animation-name: animLife;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-direction: alternate;
		}
		.key {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.7rem;
			color: #ffd000;
			filter: drop-shadow(0 0 5px #ffdd47);
			position: absolute;
			animation-name: animKey;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-direction: alternate;
		}
		.door {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 3rem;
			color: #7e4310;
			position: absolute;
			filter: drop-shadow(0 0 5px #c07c406d);
		}
	}
}
.game_info {
	width: 1000px;
	height: 100px;
	background-color: #1a2731;
	box-shadow: -5px -5px 9px #2d404e, 5px 5px 9px #0c1318;
	border-radius: 5px;
	position: absolute;
	display: flex;
	gap: 1.8rem;
	left: 50%;
	top: 10px;
	transform: translateX(-50%);
	align-items: center;
	padding: 5px 20px;
	box-sizing: border-box;
	.life_container {
		display: grid;
		height: 30px;
		grid-template-columns: repeat(4, 1fr);
		padding: 10px;
		column-gap: 1rem;
		// border: 1px solid #2d404e;
		border-radius: 10px;
		box-shadow: -5px -5px 9px #2d404e, 5px 5px 9px #0c1318;
		.life_block {
			font-size: 1.5rem;
			color: #151515;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.score_container {
		display: grid;
		height: 30px;
		grid-template-columns: repeat(3, 1fr);
		padding: 10px;
		column-gap: 1rem;
		// border: 1px solid #2d404e;
		border-radius: 10px;
		box-shadow: -5px -5px 9px #2d404e, 5px 5px 9px #0c1318;
		.score_block {
			font-size: 1.5rem;
			color: #151515;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.key_container {
		display: grid;
		height: 30px;
		grid-template-columns: repeat(1, 1fr);
		padding: 10px;
		column-gap: 1rem;
		// border: 1px solid #2d404e;
		border-radius: 10px;
		box-shadow: -5px -5px 9px #2d404e, 5px 5px 9px #0c1318;
		.key_block {
			font-size: 1.5rem;
			color: #151515;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
.launch {
	width: 100vw;
	height: 100vh;
	background-color: #131d25;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	.introduction {
		width: 100%;
		height: 100%;
		padding: 20px;
		box-sizing: border-box;
		.introduction_border {
			width: 75%;
			height: 550px;
			border-radius: 10px;
			border: 1px solid #304555;
			padding: 10px;
			overflow-y: auto;
			font-family: 'BPG Banner ExtraSquare Caps', sans-serif;
			font-size: 1.2rem;
			color: #415c70;
			.introduction_border_image {
				width: 35%;
				height: 30%;
				margin-right: 15px;
				background-image: url('../../public/images/deathangel.png');
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				float: left;
			}
		}
		.introduction_border::-webkit-scrollbar {
			display: none;
		}
	}
	.carrier {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		.carrier_button {
			padding: 2rem 4rem;
			background-color: #0c1318;
			border: none;
			border-radius: 10px;
			color: white;
			font-size: 2rem;
			font-family: 'BPG Banner ExtraSquare Caps', sans-serif;
			cursor: pointer;
			letter-spacing: 2px;
			transition: 0.1s;
		}
		.carrier_button:hover {
			background-color: #1b2832;
		}
		.carrier_button:active {
			background-color: #0a1015;
			margin-top: 5px;
			margin-left: 5px;
		}
	}
}
.youwin {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: #131d25;
	display: flex;
	align-items: center;
	justify-content: center;
	.youwin_dialog_container {
		width: 95%;
		height: 90vh;
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		padding: 10px;
		justify-content: center;
		box-sizing: border-box;
		.youwin_dialog {
			width: 300px;
			height: 230px;
			padding: 10px;
			background-color: #0a1015;
			box-sizing: border-box;
			border-radius: 10px;
			border: 1px solid #2d404e;
			font-family: 'BPG Banner ExtraSquare Caps', sans-serif;
			color: #304555;
			animation-name: animateDialog;
			animation-duration: 3s;
			animation-delay: linear;
			transition: 0.3s;
			.youwin_death {
				width: 120px;
				height: 120px;
				margin-right: 15px;
				background-image: url('../../public/images/deathangel.png');
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				float: left;
				font-size: 1rem;
				color: white;
			}
			.youwin_she {
				width: 80px;
				height: 80px;
				margin-right: 20px;
				background-color: #f4dc57;
				box-shadow: 0 0 7px 4px #fdef9f;
				// position: absolute;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				float: left;
			}
			.youwin_he {
				width: 80px;
				height: 80px;
				margin-right: 20px;
				background-color: #134c96;
				box-shadow: 0 0 7px 4px #346fbc;
				// position: absolute;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				float: left;
			}
		}
	}
	.screenwin {
		width: 95%;
		height: 90vh;
		// background-color: red;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #2d404e;
		font-size: 15rem;
		animation-name: screenWinAnim;
		animation-duration: 5s;
		animation-delay: linear;
	}
}
.gameover {
	width: 100%;
	height: 100vh;
	background-color: #131d25;
	color: #304555;
	font-size: 13rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	left: 0;
	top: 0;
	font-family: 'BPG Banner ExtraSquare Caps', sans-serif;
	.gameover_button {
		padding: 2rem 4rem;
		font-size: 2rem;
		color: #304555;
		border: 0;
		background-color: #131d25;
		cursor: pointer;
	}
}

@keyframes screenWinAnim {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes shiningSoul {
	from {
		box-shadow: 0 0 3px 4px #fdef9f;
	}
	to {
		box-shadow: 0 0 7px 4px #fdef9f;
	}
}

@keyframes animateDialog {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes animScore {
	from {
		filter: drop-shadow(0 0 5px #51e35f);
	}
	to {
		filter: drop-shadow(0 0 1px #51e35f);
	}
}
@keyframes animKey {
	from {
		filter: drop-shadow(0 0 5px #ffdd47);
	}
	to {
		filter: drop-shadow(0 0 1px #ffdd47);
	}
}
@keyframes animLife {
	from {
		filter: drop-shadow(0 0 5px #e74b4b);
	}
	to {
		filter: drop-shadow(0 0 1px #e74b4b);
	}
}

@keyframes shadowAnim {
	@for $i from 100 to 0 {
		@if $i >= 50 {
			#{$i * 1%} {
				--shadowPercent: 5%;
			}
		} @else if $i <= 15 {
			#{$i * 1%} {
				--shadowPercent: 0%;
			}
		} @else {
			#{$i * 1%} {
				--shadowPercent: #{($i - 15) / 7 * 1%};
			}
		}
	}
}
